{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Vice Versa</title>
	<link rel="stylesheet" type="text/css" href="{% static 'viceversa-project/css/home-css.css' %}">	
</head>
<body>

	<div class="divheader">Vice Versa</div>
	<div>
		<form action="{% url 'reverse' %}">
			<div class="divtxarea">
				<textarea class="area" rows="6" cols="50" name="usertext"></textarea>
				<br>
			</div>
			<div class="divbutton">
				<input class="inprev" type="submit" value="Reverse">
			</div>
		</form>
	</div>
</body>
</html>