{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
	<link rel="stylesheet" type="text/css" href="{% static 'viceversa-project/css/reverse-css.css' %}">
</head>
<body>

	<div class="divheader">Result</div>
	<div>
		<div class="divtext">
			<p>{{ usertext }}</p>
			<p>You have <strong>{{ resulting }}</strong> words in your sentences.</p>
		</div>
		<div class="divbutton">
			<form>
				<input class="inprev" type="button" value="Back at home" onclick="history.back()">
			</form>
		</div>
	</div>
</body>
</html>